<form action="/CrudEnfermedad/agregar" method="POST">
    <div class="divisor-3">
        <div class="contenedorAgregar">
            <div class="card background">
                <div class="card-header mx-auto letrasAgregar">
                    <h3>Sintomas</h3>
                </div>
                <div class="card-body">
                    <div class="form-group inputs letrasscroll">
                        <select name="Sintomas" onchange="select()" id="usuario" size="9" multiple >
                            {{#each sintomas}}
                            <option>{{Nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
<div class="contenedorAgregar">
            <div class="card background">
                <div class="card-header mx-auto letrasAgregar">
                    <h3>Enfermedad</h3>
                </div>
                <div class="card-body">

                    <div class="form-group inputs">
                        <input type="text" name="Enfermedad" class="form-control" placeholder="Enfermedad" autofocus>
                    </div>

                    <div class="botton-form">
                        <button class="forma" type="submit">
                            Guardar
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="contenedorAgregar">
            <div class="card background">
                <div class="card-header mx-auto letrasAgregar">
                    <h3>Signos</h3>
                </div>
                <div class="card-body">
                    <div class="form-group inputs letrasscroll">
                        <select name="Signos" onchange="select()" id="usuario"size="9" multiple>
                            {{#each signos}}
                            <option>{{Nombre}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>