<div>
        <script> document.getElementById("sintomas").classList.add("active");</script>
        <div>
            <div>
                <header>
                    <div class="imagenSalud">
                        <img src="/img/logoSalud.png" alt="Pews logoSalud" width="100" height="100">
                    </div>
                </header>
            </div>
                <div class="contenedor2">
                    <div class="divisor-2">
                        <a style=" text-decoration:none;" href="/sintomas/agregar">
                        <button class="boton uno button-crud" ><span>Agregar Sintoma</span></button>
                        </a>
                        <a style=" text-decoration:none;" href="/sintomas/mostrar">
                        <button class="boton uno button-crud"><span>Administrar Sintomas</span></button>
                        </a>
                    </div>
                </div>
        </div>
</div>