
    <div class="contenedorAgregar">
        <form  action="/CrudPacientes/agregar" method="POST">
            <div class="card background">

                    <div class="card-header mx-auto letrasAgregar">
                        <h3>Paciente</h3>
                    </div>
                    
                    <div class="card-body">

                        <div class="form-group inputs">
                            <input type="text" name="Nombre" class="form-control" placeholder="Nombre" autofocus>
                        </div>

                        <div class="form-group inputs">
                            <input type="text" name="Apellido" class="form-control" placeholder="Apellido">
                        </div>
                          <div class="form-group inputs">
                            <input type="number" name="Edad" class="form-control" placeholder="Edad">
                        </div>
                         <div class="form-group inputs">
                            <input type="text" name="Peso" class="form-control" placeholder="Peso">
                        </div>
                         <div class="form-group inputs">
                            <input type="text" name="Altura" class="form-control" placeholder="Altura">
                        </div>

                        <div class="form-group inputs">
                            <input type="text" name="NSS" class="form-control" placeholder="NSS">
                        </div>

                        <div class="form-group inputs">
                            <input type="text" name="DNI" class="form-control" placeholder="DNI">
                        </div>

                        <div class="botton-form">
                            <button class="forma" type="submit">
                                Guardar
                            </button>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>