
    <div class="contenedorAgregar">
        <form  action="/CrudPruebasLab/agregar" method="POST">
            <div class="card background">

                    <div class="card-header mx-auto letrasAgregar">
                        <h3>Prueba Laboratorio</h3>
                    </div>
                    
                    <div class="card-body">

                        <div class="form-group inputs">
                            <input type="text" name="tipoPrueba" class="form-control" placeholder="Tipo de Prueba" autofocus>
                        </div>
                        <div class="botton-form">
                            <button class="forma" type="submit">
                                Guardar
                            </button>
                        </div>
                    </div>
            </div>
        </form>
    </div>
</div>