<div class="contenedorAgregar">
    <div class="card background">
        <div class="card-header mx-auto letrasEditar">
            <h3>Editar Prueba de Laboratorio</h3>
        </div>

        <div class="card-body"> 
            <form action="/CrudPruebasLab/editar/{{pruebaslaboratorio._id}}?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">

            <div class="form-group inputs">
                <input type="text" name="tipoPrueba" class="form-control" placeholder="Nombre"
                value="{{pruebaslaboratorio.tipoPrueba}}" >
            </div>
            
            <div class="botton-form">
                <button class="forma" type="submit">
                    Guardar
                </button>
            </div>

            </form>
        </div>
    </div>
</div>