<div class="contenedorAgregar">
    <div class="mx-auto col-md-4">
        <form  action="/singin" method="POST">
            <div class="card background">
                    <div class="card-header mx-auto letras">
                        <h3>Inicia Sesion</h3>
                    </div>
                    
                    <div class="card-body">

                    <div class="form-group inputs">
                        <input type="email" name="email" class="form-control" placeholder="Usuario" autofocus>
                    </div>

                    <div class="form-group inputs">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña">
                    </div>
                    <div class="botton-form">
                        <button class="forma" type="submit">
                            Ingresar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>